.container.margin-top-bottom
	.row
		h3
			| selected {{selected}}
		#media.col-md-12
			tabset
				tab(ng-repeat="tab in tabs", active="tab.active", select="setActiveTab($index)")
					tab-heading {{tab.title}}
			.content
				loading-spinkit(wrapper-class="primary", style="height:135px")
				div(ui-view="tab1", ng-class="{'loading':$root.$loading.active}")
				div(ui-view="tab2", ng-class="{'loading':$root.$loading.active}")
				div(ui-view="tab3", ng-class="{'loading':$root.$loading.active}")
