.margin-top-bottom.panel.panel-default
	// Category
	.panel-heading Category
	accordion(close-others="true")
		accordion-group(ng-repeat="group in search.category.data", is-disabled="group.count == 0", is-open="group.open")
			accordion-heading
				div(ng-click="searchByCategory(group, $event)")
					span.pull-right.badge {{group.count}}
					i.fa(ng-class="{'fa-angle-down': group.open, 'fa-angle-right': !group.open}") &nbsp;
					| {{group.name}}
					fading-circle-spinner.spinner-inline.spinner-sm(ng-show="!group.open && group.loading", style="left:70%")
			//- accordion(ng-if="group.children.length")
			//- 	accordion-group(ng-repeat="parent in group.children", is-open="parent.open")
			//- 		accordion-heading
			//- 			div(ng-click="searchByCategory(parent, $event)")
			//- 				span.pull-right.badge {{parent.count}}
			//- 				i.fa(ng-class="{'fa-angle-down': parent.open, 'fa-angle-right': !parent.open}") &nbsp;
			//- 				{{parent.name}}
			//- 				fading-circle-spinner.spinner-inline.spinner-sm(ng-show="!parent.open && parent.loading", style="left:70%")
			//- 		.list-group
			//- 			a.list-group-item(ng-class="{'list-group-item-info': category.open}", ng-click="searchByCategory(category, $event)", ng-repeat="category in parent.children")
			//- 				span.badge {{category.count}}
			//- 				i.fa.fa-angle-right &nbsp;
			//- 				{{category.name}}
			//- 				fading-circle-spinner.spinner-inline.spinner-sm(ng-show="!category.open && category.loading", style="left:65%")
			.list-group
				a.list-group-item(ng-class="{'list-group-item-info': category.open, 'text-muted':category.count == 0}", ng-disabled="category.count == 0", ng-click="searchByCategory(category, $event)", ng-repeat="category in group.children")
					span.badge {{category.count}}
					i.fa.fa-angle-right &nbsp;
					| {{category.name}}
					fading-circle-spinner.spinner-inline.spinner-sm(ng-show="!category.open && category.loading", style="left:65%")
	// Brands
	.panel-heading 
		| Brands	
		span(ng-if="search.brand.selection.length") &nbsp;({{search.brand.selection.length}})
		fading-circle-spinner.spinner-wrapper-primary.spinner-inline.spinner-sm(ng-show="search.loading")
		button.btn.btn-link(ng-show="search.brand.selection.length > 0", ng-click="clearFilter('brand')") 
			i.fa.fa-close
	.list-group(ng-class="{'loading': search.loading}") 
		.list-group-item
			.form-group.has-feedback
				input.form-control(type="text", placeholder="Search brand.." ng-model="search.brand.query")
				i.form-control-feedback.fa.fa-search(style="top:0")
			div.list-wrapper
				.checkbox(ng-repeat="brand in search.brand.data | filter:search.brand.query")
					label(for="brand-{{$index}}")
						input(type="checkbox", id="brand-{{$index}}" name="brands[]" ng-click="searchByBrand($event, brand.id)" ng-model="brand.selected")
						span.badge.pull-right {{brand.total}}
						| {{brand.name}}
	// Price
	.panel-heading Price
		fading-circle-spinner.spinner-wrapper-primary.spinner-inline.spinner-sm(ng-show="search.loading")
	.list-group(ng-class="{'loading': search.loading}") 
		.list-group-item
			.form-group.col-md-6.prefix.afix
				label.col-md-12.text-center Minimum
				.input-group
					span.input-group-btn
						button.btn.btn-sm.btn-info(ng-click="setPriceDown('min')")
							i.fa.fa-minus
					input.input-sm.form-control.text-center(type="text", readonly, ng-model="search.price.selected.min", ng-model-options="{ debounce: 1000 }", step="{{search.price.options.step}}", min="{{search.price.options.min}}", max="{{search.price.selected.max}}")
					span.input-group-btn
						button.btn.btn-sm.btn-info(ng-click="setPriceUp('min')")
							i.fa.fa-plus
			.form-group.col-md-6.prefix.afix
				label.col-md-12.text-center Maximum
				.input-group
					span.input-group-btn
						button.btn.btn-sm.btn-info(ng-click="setPriceDown('max')")
							i.fa.fa-minus
					input.input-sm.form-control.text-center(type="text", readonly, ng-model="search.price.selected.max", ng-model-options="{ debounce: 1000 }", step="{{search.price.options.step}}", min="{{search.price.selected.min}}", max="{{search.price.options.max}}")
					span.input-group-btn
						button.btn.btn-sm.btn-info(ng-click="setPriceUp('max')")
							i.fa.fa-plus
			.form-group
				slider(floor="{{search.price.options.min}}", ceiling="{{search.price.options.max}}", step="{{search.price.options.step}}", ng-model-low="search.price.selected.min", ng-model-high="search.price.selected.max", translate="currencyFormatting")
	// OS
	.panel-heading(ng-if="search.os.data.length") OS
		fading-circle-spinner.spinner-wrapper-primary.spinner-inline.spinner-sm(ng-show="search.loading")
		button.btn.btn-link(ng-show="search.os.selected", ng-click="clearFilter('os')") 
			i.fa.fa-close
	.list-group(ng-if="search.os.data.length", ng-class="{'loading': search.loading}") 
		.list-group-item
			.radio(ng-repeat="os in search.os.data")
				label(for="os-{{$index}}")
					input(type="radio", id="os-{{$index}}", name="os[]", ng-model="search.os.selected", ng-value="os.value", ng-change="selectFilter('os', os)")
					span.badge.pull-right {{os.total}}
					| {{os.name}}
	// Storage
	.panel-heading(ng-if="search.storage.flash.data.length || search.storage.ram.data.length", ng-class="{'loading': search.loading}") Storage
		fading-circle-spinner.spinner-wrapper-primary.spinner-inline.spinner-sm(ng-show="search.loading")
	.panel-body(ng-if="search.storage.flash.data.length") 
		| Flash
		button.btn.btn-link(ng-show="search.storage.flash.selected", ng-click="clearFilter('flash')") 
			i.fa.fa-close
	.list-group(ng-if="search.storage.flash.data.length")
		.list-group-item
			.radio(ng-repeat="flash in search.storage.flash.data")
				label(for="flash-{{$index}}")
					input(type="radio", id="flash-{{$index}}", name="flash[]", ng-model="search.storage.flash.selected", ng-value="flash.query", ng-change="selectFilter('flash', flash)")
					span.badge.pull-right {{flash.total}}
					| {{flash.name}}
	.panel-body(ng-if="search.storage.ram.data.length")  
		| RAM
		button.btn.btn-link(ng-show="search.storage.ram.selected", ng-click="clearFilter('ram')") 
			i.fa.fa-close
	.list-group(ng-if="search.storage.ram.data.length")
		.list-group-item
			.radio(ng-repeat="ram in search.storage.ram.data")
				label(for="ram-{{$index}}")
					input(type="radio", id="ram-{{$index}}", name="ram[]", ng-model="search.storage.ram.selected", ng-value="ram.query", ng-change="selectFilter('ram', ram)")
					span.badge.pull-right {{ram.total}}
					| {{ram.name}}
	// Camera
	.panel-heading(ng-if="search.camera.data.length") 
		| Camera
		fading-circle-spinner.spinner-wrapper-primary.spinner-inline.spinner-sm(ng-show="search.loading")
		button.btn.btn-link(ng-show="search.camera.selected", ng-click="clearFilter('camera')") 
			i.fa.fa-close
	.list-group(ng-if="search.camera.data.length", ng-class="{'loading': search.loading}") 
		.list-group-item
			.radio(ng-repeat="camera in search.camera.data")
				label(for="camera-{{$index}}")
					input(type="radio", id="camera-{{$index}}", name="camera[]", ng-model="search.camera.selected", ng-value="camera.query", ng-change="selectFilter('camera', camera)")
					span.badge.pull-right {{camera.total}}
					| {{camera.name}}
	// Display
	.panel-heading(ng-if="search.display.data.length") 
		| Screen Size
		fading-circle-spinner.spinner-wrapper-primary.spinner-inline.spinner-sm(ng-show="search.loading")
		button.btn.btn-link(ng-show="search.display.selected", ng-click="clearFilter('display')") 
			i.fa.fa-close
	.list-group(ng-if="search.display.data.length", ng-class="{'loading': search.loading}") 
		.list-group-item
			.radio(ng-repeat="display in search.display.data")
				label(for="display-{{$index}}")
					input(type="radio", id="display-{{$index}}", name="display[]", ng-model="search.display.selected", ng-value="display.query", ng-change="selectFilter('display', display)")
					span.badge.pull-right {{display.total}}
					| {{display.name}}