.tab-media-content
	.resources-list.slide-left(ng-class="{'col-md-8': $parent.resources.getDetail(), 'col-md-12': !$parent.resources.getDetail(), 'has-selected':$parent.resources.getSelected().length}", ng-hide="$parent.resources.edit")
		div(ui-view="list")
	.resources-detail.slide-top(ng-class="{'col-md-4': $parent.resources.getDetail()}", ng-hide="$parent.resources.edit || !$parent.resources.getDetail()")
		div(ui-view="detail")
	.resources-custom.col-md-12.slide-left(ng-show="$parent.resources.edit")
		div(ui-view="custom")
