h6 ATTACHMENT DETAILS
.row
	.col-md-6.text-center.afix
		img(ng-src="{{resources.selected.detail.url}}", width="150", height="150")
	.col-md-6.prefix
		ul.list-unstyled
			li 
				label {{resources.selected.detail.public_id + '.' + resources.selected.detail.format}}
			li 
				label {{resources.selected.detail.created_at}}
			li 
				label {{resources.selected.detail.size}} KB
			li 
				label {{resources.selected.detail.width}} x {{resources.selected.detail.height}}
			li
				.btn-group
					button.btn.btn-primary.btn-sm(ng-click="getResource()") 
						i.fa.fa-gear
						= ' '
						| Customize
					button.btn.btn-danger.btn-sm(ng-click="delete('image '+ resources.selected.detail.public_id, resources.selected.detail)") 
						i.fa.fa-trash
						= ' '
						| Delete
	.col-md-12
		hr
		form.form-horizontal
			.form-group
				label.control-label.col-md-4 URL
				.col-md-8
					input.input-sm.form-control(type="text", ng-disabled="true", ng-model="resources.selected.detail.url")
			.form-group
				label.control-label.col-md-4 Title
				.col-md-8
					input.input-sm.form-control(type="text")
			.form-group
				label.control-label.col-md-4 Alt Text
				.col-md-8
					input.input-sm.form-control(type="text")
			.form-group
				label.control-label.col-md-4 Description
				.col-md-8
					textarea.input-sm.form-control
h6 ATTACHMENT DISPLAY SETTINGS
.row
	.col-md-12(ng-init="sizes = [{name:'Thumbnail', value:'thumbnail'}, {name:'Medim', value:'medium'}, {name:'Original', value:'original'}, {name:'Custom', value:'custom'}]")
		form.form-horizontal
			.form-group
				label.control-label.col-md-4 Alignment
				.col-md-8
					select.input-sm.form-control
						option None
						option Left
						option Center
						option Right
			.form-group
				label.control-label.col-md-4 Size
				.col-md-8
					select.input-sm.form-control(ng-model="size", ng-options="size.name for size in sizes")
			.form-group(ng-show="size.value == 'custom'")
				label.control-label.col-md-4 
				.col-md-8
					.row
						.col-md-6
							label Width
							input.input-sm.form-control(type="number")
						.col-md-6
							label Height
							input.input-sm.form-control(type="number")