style
	include ../product.css

div(ng-include="'components/navbar/navbar.html'")

.container
	.row
		.col-md-12
			ol.breadcrumb
				li
					a(href="/") Home
				li.active Products
		.col-md-3
			//- | This is the search panel
			.form-group
				//- label(for='search') label
				input#search.form-control.input-sm(type='text', placeholder='Search..', ng-model="query")
			.form-group
				//- label Criteria
				select.form-control.input-sm(ng-model="orderProp")
					option(value="title") Alphabetical
					option(value="createdAt") Newest

		.col-md-9
			.media(ng-repeat="phone in phones | filter:query | orderBy:orderProp")
				a.media-left(ng-href="#{{phone.slug}}")
					img(ng-src="{{phone.image}}", width="100px")
				div.media-body
					h4.media-heading 
						a(ui-sref="products.detail({ productId:phone._id })") {{phone.title}}
					| {{phone.body}}
