div.row.or-box
  .absolute-center.or OR Connect with
  .col-md-3
    button.btn.btn-block.btn-facebook(ng-click='loginOauth("facebook")')
      i.fa.fa-facebook
      = ' '
      | Facebook
  .col-md-3
    button.btn.btn-block.btn-google-plus(ng-click='loginOauth("google")')
      i.fa.fa-google-plus
      = ' '
      | Google+
  .col-md-3
    button.btn.btn-block.btn-twitter(ng-click='loginOauth("twitter")')
      i.fa.fa-twitter
      = ' '
      | Twitter
  .col-md-3
    button.btn.btn-block.btn-github(ng-click='loginOauth("github")')
      i.fa.fa-github
      = ' '
      | Github