.spinner-wrapper-primary.spinner-inline(ng-show="populate.loading")
	.wandering-cubes-spinner
	p.margin-top.text-primary.text-center
		| Populating...
#products.container(ng-class="{'loading': populate.loading}")
	.row
		aside.col-md-3(ng-hide="$state.current.name == 'products.detail'")
			div(ui-view="side")
		section(ng-class="{true:'col-md-12', false:'col-md-9'}[$state.current.name == 'products.detail']")
			div(ui-view="breadcrumb")
			//- div(ui-view="slides")
			div(ui-view="categories")
			//- div(ui-view="filters")
			<div ui-view="content" class="toggle"></div>
