style
	include ../product.css

div(ng-include="'components/navbar/navbar.html'")

.container
	.row
		.col-md-12
			ol.breadcrumb
				li
					a(href="/") Home
				li
					a(href="/products") Products
				li.active {{phone.title}}
		.col-md-4
			img.img-thumbnail(ng-src="{{thumbnail}}")
		.col-md-8
			.row
				hgroup.col-md-12
					h2.col-md-10 {{phone.title}}
					.col-md-2
						button.btn.btn-sm.btn-primary Edit
			hr 
			.col-md-12
				p {{phone.meta.description}}
				.row
					.col-md-3(ng-repeat="img in phone.meta.images.files")
						a.thumbnail(href="#", ng-click="setThumb($index)", ng-class="{'active': activeThumb == $index}")
							img(ng-src="{{phone.meta.images.cdnUri + '/original_' + img}}", width="100px")
	.clear
	.row
		.col-md-12
			.panel.panel-primary
				.panel-heading Specifications
				table.table.table-striped
					tr
						th.col-md-3 Availability and Networks
						th.col-md-3 Battery
						th.col-md-3 Storage and Memory
						th.col-md-3 Connectivity
					tr
						td 
							dl
								dt Availability
								dd(ng-repeat="availability in phone.meta.availability") {{availability}}
						td
							dl
								dt Type
								dd {{phone.meta.battery.type}}
								dt Talk Time
								dd {{phone.meta.battery.talkTime}}
								dt Standby time (max)
								dd {{phone.meta.battery.standbyTime}}
						td
							dl
								dt RAM
								dd {{phone.meta.storage.ram}}
								dt Internal Storage
								dd {{phone.meta.storage.flash}}
						td
							dl
								dt Network Support
								dd {{phone.meta.connectivity.cell}}
								dt WiFi
								dd {{phone.meta.connectivity.wifi}}
								dt Bluetooth
								dd {{phone.meta.connectivity.bluetooth}}
								dt Infrared
								dd {{phone.meta.connectivity.infrared | checkmark}}
								dt GPS
								dd {{phone.meta.connectivity.gps | checkmark}}
				table.table.table-striped
					tr
						th.col-md-3 Android
						th.col-md-3 Size and Weigth
						th.col-md-3 Display
						th.col-md-3 Hardware
					tr
						td
							dl
								dt OS Version
								dd {{phone.meta.android.os}}
								dt UI
								dd {{phone.meta.android.ui}}
						td
							dl
								dt Dimensions
								dd(ng-repeat="dimensions in phone.meta.sizeAndWeight.dimensions") {{dimensions}}
								dt Weigth
								dd {{phone.meta.sizeAndWeight.weight}}
						td
							dl
								dt Screen size
								dd {{phone.meta.display.screenSize}}
								dt Screen resolution
								dd {{phone.meta.display.screenResolution}}
								dt Touch screen
								dd {{phone.meta.display.touchScreen | checkmark}}
						td
							dl
								dt CPU
								dd {{phone.meta.hardware.cpu}}
								dt USB
								dd {{phone.meta.hardware.usb}}
								dt Audio / headphone jack
								dd {{phone.meta.hardware.audioJack}}
								dt FM Radio
								dd {{phone.meta.hardware.fmRadio | checkmark}}
								dt Accelerometer
								dd {{phone.meta.hardware.accelerometer | checkmark}}
				table.table.table-striped
					tr
						th.col-md-3 Camera
						th.col-md-3 Additional Features
					tr
						td
							dl
								dt Primary
								dd {{phone.meta.camera.primary}}
								dt Features
								dd {{phone.meta.camera.features.join(', ')}}
						td
							dd {{phone.meta.additionalFeatures}}
